beautifulsoup4==4.14.3
efinance==0.5.5.2
fastmcp==2.14.1
langchain==1.2.0
langchain_core==1.2.5
langchain_mcp_adapters==0.2.1
langchain_openai==1.1.6
nltk==3.9.2
numpy==2.4.0
pandas==2.3.3
python-dotenv==1.2.1
Requests==2.32.5
schedule==1.2.2
sumy==0.11.0
ta_lib==0.6.8
tiktoken==0.12.0
tushare==1.4.24
